body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
form {
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.flex input, .flex label {
    flex: 1 1 250px;
}
label.flex {
    justify-content: start;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}
label.flex input {
    flex: 0 1 auto;
    margin: 0;
}
input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/* Advance */
